name: shabbos_app
description: "Shabbos!! - Shabbat & Yom Tov Candle Lighting Times"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.8
  intl: ^0.20.2
  geolocator: ^14.0.2
  geocoding: ^4.0.0
  http: ^1.6.0
  flutter_local_notifications: ^19.5.0
  audioplayers: ^6.5.1
  shared_preferences: ^2.5.3
  permission_handler: ^12.0.1
  timezone: ^0.10.1
  file_picker: ^8.1.6
  path_provider: ^2.1.5
  android_alarm_manager_plus: ^4.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/images/
    - assets/sounds/
